MAILER_SERVICE=yandex # service that is used as provider
MAILER_HOST=example.mail.com # SMTP host
MAILER_PORT=587 # SMTP port
MAILER_USER=kuzanatoliorg # user name
MAILER_PASS=kuzanatoliorg_password # password
MAILER_TO=kuzanatoliorg_example@mail.com # target email address
MAILER_FROM=kuzanatoliort_example@mailspons.com # email address that usea as sender

CORS_ORIGIN=https://example.com
