MAILER_HOST=example.mail.com # SMTP host
MAILER_PORT=587 # SMTP port
MAILER_USER=kuzanatoliorg # user name
MAILER_PASS=kuzanatoliorg_password # password
MAILER_TO=kuzanatoliorg_example@mail.com # target email address
MAILER_FROM=96ac31e19aa2465fb7e9@mailspons.com # email address that usea as sender